@import '../../../../assets/scss/utils';

.sidebar-admin {
    @media screen and (min-width: 771px) {
        min-height: 100vh;
    }
    padding: 0;
    background-color: palette(gray);
}

.main-content {
    background-color: $body-bg !important;
}