////////////////
// Default Colors
///////////////

$cMain:#639d31 !default;// green
$cSecondary:#f57c00 !default;// orange
$cTerciary1:#b5c542 !default;// lime
$cTerciary2:#475abf !default;// indigo
$cTerciary3:#119c9f !default;// cyan
$cTerciary4:#2e357b !default;// indigo
$cTerciary5:#962d74 !default;// coe
$cTerciary6:#0ABF7B !default;// green
$cTerciary7:#623283 !default;// treasure
$cTerciary8:#729993 !default;// public offer

$cError:#ff002a;// error (red)
$cSuccess:#639d31;// success (green)
$cGray:#424242;// text (gray)
$cWarning:#f57c00;// warning (orange)
$cInfo:#00c4f5;// info (ciano)

$palettes:(
	main:( // green
		light:lighten($cMain, 55%),
		default:$cMain,
		dark:darken($cMain, 6%)
	),
	secondary:( // orange
		light:lighten($cSecondary, 47%),
		default:$cSecondary,
		dark:darken($cSecondary, 4%)
	),
	terciary:( // misc
		ter1light: lighten($cTerciary1, 43%),//#f7f8ea
		ter1:$cTerciary1,//#b5c542
		ter1dark:darken($cTerciary1, 4%),//#aaba39

		ter2light: lighten($cTerciary2, 44%),//#edeff9
		ter2:$cTerciary2,//#475abf
		ter2dark:darken($cTerciary2, 4%),//#3e51b3

		ter3light: lighten($cTerciary3, 60%),//#e6fcfc
		ter3:$cTerciary3,//#119c9f
		ter3dark:darken($cTerciary3, 4%),//#0f8a8d

		ter4light: lighten($cTerciary4, 63%),//edeef8
		ter4:$cTerciary4,//#2e357b
		ter4dark:darken($cTerciary4, 4%),//#282f6c

		ter5light: lighten($cTerciary5, 59%),//#f9ecf5
		ter5:$cTerciary5,//#962D74
		ter5dark:darken($cTerciary5, 4%),//#004089

		ter6light: lighten($cTerciary6, 50%),//#f7fffc
		ter6light2: lighten($cTerciary6, 57%),//#eefef8
		ter6:$cTerciary6,//#0ABF7B
		ter6dark:darken($cTerciary6, 4%),//#09ac6f

        ter7light: lighten($cTerciary7, 60%),
		ter7light2: lighten($cTerciary7, 67%),
		ter7: $cTerciary7,//#623283
		ter7dark:darken($cTerciary7, 4%),

        ter8light: lighten($cTerciary8, 42%),//#eef3f2 (#eff5f4 on invision)
		ter8:$cTerciary8,//#729993
		ter8dark:darken($cTerciary8, 10%),//#648b85

		errorlight: lighten($cError, 47%),
		error: $cError,
		errordark:darken($cError, 4%),

		successlight: lighten($cSuccess, 47%),
		success: $cSuccess,
		successdark:darken($cSuccess, 4%),

		warninglight: lighten($cWarning, 47%),
		warning: $cWarning,
        warningdark:darken($cWarning, 4%),
        
        infolight: lighten($cInfo, 47%),
		info: $cInfo,
		infodark:darken($cInfo, 4%)
	),
	gray:(
		default:$cGray,//#424242
		light1:lighten($cGray, 35%),//#9b9b9b /#767676
		light2:lighten($cGray, 47%),//#bababa
		light3:lighten($cGray, 60%),//#dbdbdb
		light4:lighten($cGray, 68%),//#efefef
		light5:lighten($cGray, 73%) //#fcfcfc
	),
	white:(
        default: #ffffff,
        dark1: #f7f7f7
	)
);

@function palette($palette, $tone:default) {
	@return map-get(map-get($palettes, $palette), $tone);
}

////////////////
// Default Fonts
///////////////
$font-main: 'Roboto',sans-serif;
$font-secondary: 'Open Sans',sans-serif;
