////////////////
// Default Colors
///////////////

$cMain:#639d31 !default;
$cSecondary:#f57c00 !default;
$cTerciary1:#b5c542 !default;
$cTerciary2:#475abf !default;
$cTerciary3:#119c9f !default;
$cTerciary4:#2e357b !default;
$cTerciary5:#962d74 !default;
$cTerciary6:#0ABF7B !default;
$cTerciary7:#623283 !default;
$cTerciary8:#729993 !default;
$cTerciary9:#fbf8c4 !default;


$cError:#ff002a;// error (red)
$cSuccess:#639d31;// success (green)
$cGray:#424242;// text (gray)
$cWarning:#f57c00;// warning (orange)
$cInfo:#00c4f5;// info (ciano)

$palettes:(
	main:( // green
		light:lighten($cMain, 55%),
		default:$cMain,
		dark:darken($cMain, 6%)
	),
	secondary:( // orange
		light:lighten($cSecondary, 47%),
		default:$cSecondary,
		dark:darken($cSecondary, 4%)
	),
	terciary:( // misc
		ter1light: lighten($cTerciary1, 43%),
		ter1:$cTerciary1,
		ter1dark:darken($cTerciary1, 4%),

		ter2light: lighten($cTerciary2, 44%),
		ter2:$cTerciary2,
		ter2dark:darken($cTerciary2, 4%),

		ter3light: lighten($cTerciary3, 60%),
		ter3:$cTerciary3,
		ter3dark:darken($cTerciary3, 4%),

		ter4light: lighten($cTerciary4, 63%),
		ter4:$cTerciary4,
		ter4dark:darken($cTerciary4, 4%),

		ter5light: lighten($cTerciary5, 59%),
		ter5:$cTerciary5,
		ter5dark:darken($cTerciary5, 4%),

		ter6light: lighten($cTerciary6, 50%),
		ter6light2: lighten($cTerciary6, 57%),
		ter6:$cTerciary6,
		ter6dark:darken($cTerciary6, 4%),

        ter7light: lighten($cTerciary7, 60%),
		ter7light2: lighten($cTerciary7, 67%),
		ter7: $cTerciary7,
		ter7dark:darken($cTerciary7, 4%),

        ter8light: lighten($cTerciary8, 42%),
		ter8:$cTerciary8,
		ter8dark:darken($cTerciary8, 10%),

		ter9light: lighten($cTerciary9, 7%),
		ter9:$cTerciary9,
		ter9dark:darken($cTerciary9, 22%),

		errorlight: lighten($cError, 47%),
		error: $cError,
		errordark:darken($cError, 4%),

		successlight: lighten($cSuccess, 47%),
		success: $cSuccess,
		successdark:darken($cSuccess, 4%),

		warninglight: lighten($cWarning, 47%),
		warning: $cWarning,
        warningdark:darken($cWarning, 4%),
        
        infolight: lighten($cInfo, 47%),
		info: $cInfo,
		infodark:darken($cInfo, 4%)
	),
	gray:(
		default:$cGray,//#424242
		light1:lighten($cGray, 35%),//#9b9b9b /#767676
		light2:lighten($cGray, 47%),//#bababa
		light3:lighten($cGray, 60%),//#dbdbdb
		light4:lighten($cGray, 68%),//#efefef
		light5:lighten($cGray, 73%) //#fcfcfc
	),
	white:(
        default: #ffffff,
        dark1: #f7f7f7
	)
);

@function palette($palette, $tone:default) {
	@return map-get(map-get($palettes, $palette), $tone);
}

////////////////
// Default Fonts
///////////////

@font-face {
	font-family: "Coolvetica";
	src: url('/assets/fonts/coolvetica_rg-webfont.woff') format("woff"),
	url('/assets/fonts/coolvetica_rg-webfont.woff2') format("woff2")
}

$font-main: 'Roboto',sans-serif;
$font-secondary: 'Open Sans',sans-serif;
$font-terciary: 'Coolvetica',sans-serif;
$font-icon: 'Font Awesome 5 Free';

.font {
	&-primary { font-family: $font-main !important; }
	&-secondary { font-family: $font-secondary !important; }
	&-terciary { font-family: $font-terciary !important; }
	&-icon { font-family: $font-icon !important; }
}