@import 'shared';
@import 'bootstrap-theming';

.ng-select-custom.form-control {
  padding: 0;
  border: none;

  &.is-invalid {
    &>.ng-select-container {
      border-color: palette(terciary, error);
    }
  }
}

.ng-select .ng-select-container:hover {
  box-shadow: none !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 8px;
}

.ngx-editor-app.ng-invalid.is-invalid {
  & .ngx-editor .ngx-wrapper {
    border: 1px solid palette(terciary, error);
  }

  &+.invalid-feedback {
    display: block;
  }
}

.loading-no-margin {
  &>.loading {
    margin: 0px !important;
  }
}

.carousel-control-prev, 
.carousel-control-next {
  cursor: pointer;
}

@media screen and (min-width: 991px) {
  .dropdown-menu {
    width: calc(100% + 120px) !important;
  }
}

img {
  image-rendering: crisp-edges !important;
}