@import "../../../../../assets/scss/utils";

.promocional {
  display: flex;
  cursor: pointer;

  @media screen and (max-width: 990px) {
    margin-bottom: 20px
  }

  &-image {
    border-radius: 17px;
    max-width: 100%;
    max-height: 390px;

    @media screen and (max-width: 990px) {
      max-height: 100%;
    }
  }
}
