<app-loading *ngIf="loadingRemove" type="fullscreen"></app-loading>
<p>Listagem de imóveis cadastrados no sistema.</p>
<div class="card">
  <div class="card-body">
    <app-loading *ngIf="loadingPropertyList"></app-loading>
    <div class="table-responsive" *ngIf="!loadingPropertyList">
      <table datatable [dtOptions]="dtOptions" class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Título</th>
            <th>Categorias</th>
            <th>Localizações</th>
            <th>Valor</th>
            <th>Ativa</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of propertyList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ property.title }}</td>
            <td>
              <ng-container *ngFor="let category of property.categories; let last = last">
                <span *ngIf="category.active">{{ category.description }}{{ !last ? ', ' : '' }}</span>
              </ng-container>
            </td>
            <td>
              <ng-container *ngFor="let location of property.locations; let last = last">
                <span *ngIf="location.active">{{ location.description }}{{ !last ? ', ' : '' }}</span>
              </ng-container>
            </td>
            <td>{{ property.priceCustom ? property.priceCustom : (property.priceNumber | currency:'BRL') }}</td>
            <td>{{ property.active ? 'Sim' : 'Não' }}</td>
            <td>
              <button [routerLink]="['/area-logada/imoveis/editar', property._id]" class="btn btn-sm btn-primary mr-2"><i class="fas fa-pencil-alt"></i></button>
              <button (click)="removeProperty(property)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
