<h5>Listagem de propriedades cadastradas no sistemas.</h5>
<app-loading *ngIf="loadingPropertyList"></app-loading>
<div class="table-responsive" *ngIf="!loadingPropertyList">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Título</th>
        <th>Endereço</th>
        <th>Categorias</th>
        <th>Localizações</th>
        <th>Valor</th>
        <th>Ativa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of propertyList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ property.title }}</td>
        <td>{{ property.address }}</td>
        <td>
          <ng-container *ngFor="let category of property.categories; let last = last">
            <span *ngIf="category.active">{{ category.description }}{{ !last ? ', ' : '' }}</span>
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let location of property.locations; let last = last">
            <span *ngIf="location.active">{{ location.description }}{{ !last ? ', ' : '' }}</span>
          </ng-container>
        </td>
        <td>{{ property.priceCustom ? property.priceCustom : property.priceNumber }}</td>
        <td>{{ property.active ? 'Sim' : 'Não' }}</td>
      </tr>
    </tbody>
  </table>
</div>