<div class="card">
  <div class="card-body">
    <h5><i class="fas fa-search mr-2"></i>Buscando em tempo real</h5>
    <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" class="form-control form-control-lg mr-sm-2 mt-3" type="search"
      placeholder="Digite o termo desejado..." aria-label="Buscar">
  </div>
</div>
<div class="card">
  <div id="cardBody" class="card-body">
    <h5 *ngIf="!loading && searchTerm"><i class="fas fa-home mr-2"></i>Buscando por: {{ searchTerm }}</h5>
    <div class="row mt-20">
      <ng-container *ngFor="let property of propertyList | searchProperty:searchTerm; let index = index">
        <div *ngIf="property.active" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card h-100 card-property">
            <a [routerLink]="['/imoveis', property._id]">
              <img *ngIf="property.images.length > 0" class="card-img-top"
                [src]="preUrlImages + '/' + property.images[0].filePath">
            </a>
            <div class="carousel-square">
              <div class="carousel-square-location"
                *ngFor="let location of property.locations; let last = last; let first = first">
                <a href="javascript:;"
                  [routerLink]="['/localizacao', (location.description | normalizeString)]">{{ location.description }}</a>
              </div>
              <div class="carousel-square-category"
                *ngFor="let category of property.categories; let last = last; let first = first">
                <a href="javascript:;"
                  [routerLink]="['/categoria', (category.description | normalizeString)]">{{ category.description }}</a>
              </div>
              <div class="carousel-square-type" *ngFor="let type of property.types; let last = last; let first = first">
                <a href="javascript:;"
                  [routerLink]="['/modalidade', (type.description | normalizeString)]">{{ type.description }}</a>
              </div>
            </div>
            <div class="card-body pb-0 pt-1">
              <a [routerLink]="['/imoveis', property._id]">
                <p class="card-title">{{ property.title }}</p>
              </a>
              <div class="row">
                <div class="property-indicator-value col-lg-12 col-md-12 col-sm-12">
                  <div class="property-indicator">
                    <i class="fas fa-dollar-sign"></i>
                    <p class="mb-0 ml-2">
                      {{ property.priceNumber ? (property.priceNumber | currency:'BRL') : property.priceCustom }}</p>
                  </div>
                </div>
                <div class="property-indicator-address col-lg-12 col-md-12 col-sm-12">
                  <div class="property-indicator property-indicator-small mt-2">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="mb-0 ml-2">{{ property.address ? property.address : property.city }}</p>
                  </div>
                </div>
              </div>
              <div class="row d-flex">
                <div *ngIf="property.bedrooms > 0" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3 mt-3">
                  <span class="property-indicator-text mt-2">Quartos</span>
                  <div class="property-indicator property-indicator-small">
                    <i class="fas fa-bed"></i>
                    <p class="mb-0 ml-2">{{ property.bedrooms }}</p>
                  </div>
                </div>
                <div *ngIf="property.toilets > 0" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3 mt-3">
                  <span class="property-indicator-text mt-2">Banheiros</span>
                  <div class="property-indicator property-indicator-small">
                    <i class="fas fa-shower"></i>
                    <p class="mb-0 ml-2">{{ property.toilets }}</p>
                  </div>
                </div>
                <div *ngIf="property.garage > 0" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3 mt-3">
                  <span class="property-indicator-text mt-2">Garagem</span>
                  <div class="property-indicator property-indicator-small">
                    <i class="fas fa-car"></i>
                    <p class="mb-0 ml-2">{{ property.garage }}</p>
                  </div>
                </div>
                <div *ngIf="property.size" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3 mt-3">
                  <span class="property-indicator-text mt-2">Tamanho</span>
                  <div class="property-indicator property-indicator-small">
                    <i class="fas fa-pencil-ruler"></i>
                    <p class="mb-0 ml-2">{{ property.size }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="!loading && searchTerm === undefined"
        class="col d-flex justify-content-center align-items-center text-center my-5">
        <h4 class="text-muted">Digite no campo acima o termo desejado.</h4>
      </div>
      <div *ngIf="(propertyList | searchProperty:searchTerm)?.length == 0 && !loading && searchTerm !== undefined"
        class="col d-flex justify-content-center align-items-center text-center my-5">
        <h4 class="text-muted">Nenhum resultado encontrado para o termo desejado.</h4>
      </div>
    </div>
    <app-loading *ngIf="loading"></app-loading>
  </div>
</div>
<div class="d-flex justify-content-center my-3">
  <div class="go-top" (click)="usefullService.scrollTop()">
    <h4><i class="fas fa-arrow-up mr-3"></i>Voltar para o topo</h4>
  </div>
</div>
