<app-loading *ngIf="loading"></app-loading>
<ng-container *ngIf="!loading">
  <div class="row d-flex">
    <div class="col-xxxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-3"><i class="fas fa-images mr-2"></i>Fotos do imóvel</h5>
          <mdb-carousel class="carousel slide carousel-fade" [animation]="'slide'" [interval]="'3000'">
            <mdb-carousel-item class="justify-content-center"
              *ngFor="let image of property.images; let first = first; let indexImage = index">
              <div class="carousel-item-div view"
                [style.background]="'url(' + preUrlImages + '/' + image.filePath + ')'">
                <img class="card-img-top d-block w-100" [src]="preUrlImages + '/' + image.filePath"
                  [alt]="image.description">
                <div class="mask waves-light" mdbWavesEffect></div>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
          <!-- <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
            <mdb-carousel-item *ngFor="let image of property.images; let first = first; let indexImage = index">
              <img class="d-block w-100" [src]="preUrlImages + '/' + image.filePath">
            </mdb-carousel-item>
          </mdb-carousel> -->
        </div>
      </div>
    </div>
    <div class="col-xxxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h4>{{ property.title }}</h4>
          <div class="property-indicator property-indicator-small mt-2">
            <i class="fas fa-map-marker-alt"></i>
            <p class="mb-0 ml-2">{{ property.address ? property.address : property.city }}</p>
          </div>
          <div class="property-square my-3">
            <div class="property-square-location"
              *ngFor="let location of property.locations; let last = last; let first = first" [class.ml-0]="first">
              <a href="javascript:;"
                [routerLink]="['/localizacao', (location.description | normalizeString)]">{{ location.description }}</a>
            </div>
            <div class="property-square-category"
              *ngFor="let category of property.categories; let last = last; let first = first">
              <a href="javascript:;"
                [routerLink]="['/categoria', (category.description | normalizeString)]">{{ category.description }}</a>
            </div>
            <div class="property-square-type" *ngFor="let type of property.types; let last = last; let first = first">
              <a href="javascript:;"
                [routerLink]="['/modalidade', (type.description | normalizeString)]">{{ type.description }}</a>
            </div>
          </div>
          <div class="row d-flex">
            <div *ngIf="property.bedrooms > 0" class="col col-xxxl-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <span class="property-indicator-text mt-2">Quartos</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-bed"></i>
                <p class="mb-0 ml-2">{{ property.bedrooms }}</p>
              </div>
            </div>
            <div *ngIf="property.toilets > 0" class="col col-xxxl-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <span class="property-indicator-text mt-2">Banheiros</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-shower"></i>
                <p class="mb-0 ml-2">{{ property.toilets }}</p>
              </div>
            </div>
            <div *ngIf="property.garage > 0" class="col col-xxxl-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <span class="property-indicator-text mt-2">Garagem</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-car"></i>
                <p class="mb-0 ml-2">{{ property.garage }}</p>
              </div>
            </div>
            <div *ngIf="property.size" class="col col-xxxl-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <span class="property-indicator-text mt-2">Tamanho</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-pencil-ruler"></i>
                <p class="mb-0 ml-2">{{ property.size }}</p>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <h6>Valor:</h6>
              <h3 class="text-primary font-terciary">
                {{ property.priceNumber ? (property.priceNumber | currency:'BRL') : property.priceCustom }}</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 d-md-flex d-lg-flex align-items-center justify-content-end">
              <a [href]="'https://wa.me/5555999225333?text=' + whatsAppMessage" target="_blank"
                class="btn btn-primary btn-lg"><i class="fab fa-whatsapp mr-2"></i>Tenho Interesse</a>
            </div>
          </div>
          <hr />
          <p [innerHTML]="property.description"></p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
