<app-loading *ngIf="loading"></app-loading>
<ng-container *ngIf="!loading">
  <div class="row d-flex">
    <div class="col col-xxxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <mdb-carousel class="carousel slide carousel-fade" [animation]="'slide'" [interval]="'3000'">
        <mdb-carousel-item class="justify-content-center"
          *ngFor="let image of property.images; let first = first; let indexImage = index">
          <div class="carousel-item-div view" [style.background]="'url(' + preUrlImages + '/' + image.filePath + ')'">
            <img class="card-img-top d-block w-100" [src]="preUrlImages + '/' + image.filePath"
              [alt]="image.description">
            <div class="mask waves-light" mdbWavesEffect></div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <div class="col col-xxxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h4>{{ property.title }}</h4>
          <div class="my-3">
            <span class="property-location" *ngFor="let location of property.locations; let first = first"
              [class.ml-0]="first">{{ location.description }}</span>
            <span class="property-category"
              *ngFor="let category of property.categories">{{ category.description }}</span>
            <span class="property-type" *ngFor="let type of property.types">{{ type.description }}</span>
          </div>
          <div class="row d-flex">
            <div *ngIf="property.bedrooms > 0" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3">
              <span class="property-indicator-text mt-2">Quartos</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-bed"></i>
                <p class="mb-0 ml-2">{{ property.bedrooms }}</p>
              </div>
            </div>
            <div *ngIf="property.toilets > 0" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3">
              <span class="property-indicator-text mt-2">Banheiros</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-shower"></i>
                <p class="mb-0 ml-2">{{ property.toilets }}</p>
              </div>
            </div>
            <div *ngIf="property.garage > 0" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3">
              <span class="property-indicator-text mt-2">Garagem</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-car"></i>
                <p class="mb-0 ml-2">{{ property.garage }}</p>
              </div>
            </div>
            <div *ngIf="property.size" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3">
              <span class="property-indicator-text mt-2">Tamanho</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-pencil-ruler"></i>
                <p class="mb-0 ml-2">{{ property.size }}</p>
              </div>
            </div>
          </div>
          <hr />
          <p [innerHTML]="property.description"></p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
