<app-loading *ngIf="loading"></app-loading>
<ng-container *ngIf="!loading">
  <div class="row d-flex">
    <div id="backButton" class="col-md-12 d-sm-block d-md-block d-lg-none mb-2" (click)="location.back()">
      <h5><i class="fas fa-arrow-left mr-2"></i>Voltar</h5>
    </div>
    <div class="col-xxxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="mb-3"><i class="fas fa-images mr-2"></i>Fotos</h5>
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
      </div>
    </div>
    <div class="col-xxxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 m-mbl-t-30">
      <div class="card h-100">
        <div class="card-body">
          <h4>{{ property.title }}</h4>
          <div *ngIf="property.address" class="property-indicator property-indicator-small mt-2">
            <i class="fas fa-map-marker-alt"></i>
            <p class="mb-0 ml-2">{{ property.address }}</p>
          </div>
          <div class="property-indicator property-indicator-small mt-2">
            <i class="fas fa-map-marked-alt"></i>
            <p class="mb-0 ml-2">{{ property.city.description }}</p>
          </div>
          <div class="property-square my-3">
            <div class="property-square-location"
              *ngFor="let location of property.locations; let last = last; let first = first" [class.ml-0]="first">
              <a href="javascript:;"
                [routerLink]="['/localizacao', (location.description | normalizeString)]">{{ location.description }}</a>
            </div>
            <div class="property-square-category"
              *ngFor="let category of property.categories; let last = last; let first = first">
              <a href="javascript:;"
                [routerLink]="['/categoria', (category.description | normalizeString)]">{{ category.description }}</a>
            </div>
            <div class="property-square-type" *ngFor="let type of property.types; let last = last; let first = first">
              <a href="javascript:;"
                [routerLink]="['/modalidade', (type.description | normalizeString)]">{{ type.description }}</a>
            </div>
          </div>
          <div class="row d-flex">
            <div *ngIf="property.bedrooms > 0" class="col col-xxxl-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <span class="property-indicator-text mt-2">Quartos</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-bed"></i>
                <p class="mb-0 ml-2">{{ property.bedrooms }}</p>
              </div>
            </div>
            <div *ngIf="property.toilets > 0" class="col col-xxxl-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <span class="property-indicator-text mt-2">Banheiros</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-shower"></i>
                <p class="mb-0 ml-2">{{ property.toilets }}</p>
              </div>
            </div>
            <div *ngIf="property.garage > 0" class="col col-xxxl-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <span class="property-indicator-text mt-2">Garagem</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-car"></i>
                <p class="mb-0 ml-2">{{ property.garage }}</p>
              </div>
            </div>
            <div *ngIf="property.size" class="col col-xxxl-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <span class="property-indicator-text mt-2">Tamanho</span>
              <div class="property-indicator property-indicator-small">
                <i class="fas fa-pencil-ruler"></i>
                <p class="mb-0 ml-2">{{ property.size }}</p>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <h6>Valor:</h6>
              <h3 class="text-primary font-terciary">
                {{ property.priceNumber ? (property.priceNumber | currency:'BRL') : property.priceCustom }}</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 d-md-flex d-lg-flex align-items-center justify-content-end">
              <a href="http://fb.me/msg/corretorcavallini" target="_blank" (click)="fbTrackMessenger()"
                class="btn btn-primary btn-lg btn-messenger d-xs-none d-sm-none d-md-none d-lg-block"><i class="fab fa-facebook-messenger mr-2"></i>Tenho Interesse</a>
              <a [href]="'https://wa.me/5555999225333?text=' + whatsAppMessage" target="_blank" (click)="fbTrackWhatsApp()"
                class="btn btn-primary btn-lg btn-block btn-whatsapp d-xs-block d-sm-block d-md-block d-lg-none"><i class="fab fa-whatsapp mr-2"></i>Tenho Interesse</a>
            </div>
          </div>
          <hr />
          <div class="property-description" [innerHTML]="property.description"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="property.geolocation" class="row mt-30">
    <div class="col-xxxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="mb-3"><i class="fas fa-map-marked-alt mr-2"></i>Geolocalização</h5>
            </div>
            <div>
              <a href="https://www.google.com/maps/search/?api=1&query={{ property.geolocation }}" target="_blank" class="btn btn-primary btn-sm"><i class="fab fa-google mr-2"></i>Abrir no GPS</a>
            </div>
          </div>
          <agm-map [streetViewControl]="false" [latitude]="property.geolocation | geo:'lat'" [longitude]="property.geolocation | geo:'lng'" [zoom]="18">
            <agm-marker [latitude]="property.geolocation | geo:'lat'" [longitude]="property.geolocation | geo:'lng'"></agm-marker>
            <agm-info-window [isOpen]="true" [latitude]="property.geolocation | geo:'lat'" [longitude]="property.geolocation | geo:'lng'" [disableAutoPan]="false">
              <div class="d-flex m-2">
                <img src="assets/images/logo.png" height="25" class="mr-2"/>
                O imóvel está localizado aqui.
              </div>
            </agm-info-window>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</ng-container>
