<!-- Go To Top -->

<div class="d-flex justify-content-center mb-4 mt-70">
  <div class="go-top" (click)="usefullService.scrollTop()">
    <h4><i class="fas fa-arrow-up mr-3"></i>Voltar para o topo</h4>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-3 pb-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i
            class="fas fa-map-marker-alt mr-2 text-primary"></i>Onde Estamos</h5>

        <h6>Rua Treze de Maio, 1153, Centro, São Luiz Gonzaga - RS</h6>

        <iframe class="page-footer-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.248556392424!2d-54.96192348437914!3d-28.411755964222372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ff1964fc2ebe5d%3A0x50f72b83807fe24a!2sCavallini%20Corretor%20de%20Im%C3%B3veis!5e0!3m2!1spt-BR!2sbr!4v1578409134802!5m2!1spt-BR!2sbr"
          frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <div class="row">
          <div class="col-md-12 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i class="far fa-clock mr-2 text-primary"></i>Horário
              de Atendimento</h5>
            <h6>Segunda à Sexta das 8h às 18h; Sábado das 8h às 12h</h6>
          </div>

          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-12 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i
                class="far fa-envelope mr-2 text-primary"></i>Contato</h5>
            <h6>(55) 3352-3352</h6>
            <h6><a href="https://wa.me/5555999225333">(55) 9 9922-5333 (WhatsApp)</a></h6>
            <h6>contato@cavalliniimoveis.com.br</h6>
          </div>
        </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i class="fas fa-link mr-2 text-primary"></i>Referências
        </h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/corretorcavallini/" target="_blank"><i
                class="fab fa-facebook mr-2"></i>Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/cavallinicorretor/"><i class="fab fa-instagram mr-2"
                target="_blank"></i>Instagram</a>
          </li>
          <li>
            <a href="https://wa.me/5555999225333"><i class="fab fa-whatsapp mr-2"></i>WhatsApp</a>
          </li>
        </ul>

        <div class="fb-page" data-href="https://www.facebook.com/corretorcavallini/" data-tabs="timeline" data-width=""
          data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
          data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/corretorcavallini/" class="fb-xfbml-parse-ignore"><a
              href="https://www.facebook.com/corretorcavallini/">Cavallini - Corretor de Imóveis</a></blockquote>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 px-2">©{{ currentYear }}. Todos os direitos reservados.
    <a href="https://www.linkedin.com/in/matheus-nascimento-cavallini-420408143/" target="_blank"> Desenvolvido por Matheus
      Cavallini</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
