<div class="row mt-5 mb-5 justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="card shadow-lg border-0">
      <div class="card-body p-5">
        <h1
          class="card-title mb-4 display-4 display-md-4 display-sm-5 display-xs-6 text-primary"
        >
          Quem Somos
        </h1>
        <p class="card-text lead">
          A Cavallini Imóveis, operando sob o nome fantasia C&N Empreendimentos,
          foi fundada com o objetivo de oferecer serviços imobiliários de alta
          qualidade, atendendo às expectativas dos clientes mais exigentes.
          Nossa missão é facilitar a jornada de compra, venda ou aluguel de
          imóveis, tornando-a uma experiência positiva e sem complicações.
        </p>
        <p class="card-text lead">
          Nosso foco principal é em imóveis rurais, proporcionando aos nossos
          clientes as melhores opções para a aquisição, venda e administração de
          propriedades no campo. No entanto, também atuamos com imóveis urbanos,
          garantindo que todas as suas necessidades imobiliárias sejam atendidas
          com a mesma excelência.
        </p>
        <p class="card-text lead">
          Contamos com uma equipe de profissionais altamente capacitados, que
          estão sempre atualizados sobre as tendências e novidades do mercado.
          Nosso compromisso é oferecer um atendimento ágil, eficiente e
          personalizado, valorizando cada cliente e suas necessidades
          específicas.
        </p>
        <p class="card-text lead">
          Nossa sede está localizada na Rua Treze de Maio, 1153, Centro, São
          Luiz Gonzaga- RS, CEP 97800-000, Brasil. Com o CNPJ 30.070.518/0001-62
          e registro CRECI 51377, garantimos a transparência e a legalidade em
          todas as nossas transações.
        </p>
        <p class="card-text lead">
          Os sócios Matheus Nascimento Cavallini e Luis Carlos Cavallini lideram
          a empresa com dedicação e compromisso, sempre focados em oferecer o
          melhor serviço aos nossos clientes. Junte-se a nós e descubra o imóvel
          ideal, seja rural ou urbano, com a Cavallini Imóveis!
        </p>
      </div>
    </div>
  </div>
</div>
