<app-loading *ngIf="loadingToggle" type="fullscreen"></app-loading>
<p>Listagem de slugs cadastradas no sistema.</p>
<div class="card">
  <div class="card-body">
    <app-loading *ngIf="loadingData"></app-loading>
    <div class="table-responsive" *ngIf="!loadingData && !loadingToggle">
      <table datatable [dtOptions]="dtOptions" class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Tipo</th>
            <th>Mostrar no App</th>
            <th>Ativa</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let slugType of slugTypeList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ slugType.description }}</td>
            <td>{{ slugType.slug }}</td>
            <td>{{ slugType.type }}</td>
            <td>
              <div class="form-check form-check-inline mb-3">
                <app-switch [value]="slugType.showOnApp" (clicked)="toggleShowOnApp(slugType)" id="activeCheckbox-{{ i }}"></app-switch>
                <label class="form-check-label" for="activeCheckbox-{{ i }}">{{ slugType.showOnApp ? 'Sim' : 'Não' }}</label>
              </div>
            </td>
            <td>{{ slugType.active ? 'Sim' : 'Não' }}</td>
            <td>
              <button [routerLink]="['/area-logada/slugs/editar', slugType._id]" class="btn btn-sm btn-primary mr-2" title="Editar"><i class="fas fa-pencil-alt"></i></button>
              <button (click)="toggleSlugType(slugType)" class="btn btn-sm btn-danger" [ngClass]="{ 'btn-danger': slugType.active, 'btn-primary': !slugType.active }" [title]="slugType.active ? 'Desativar' : 'Ativar'">
                <i *ngIf="!slugType.active" class="fas fa-toggle-on"></i>
                <i *ngIf="slugType.active" class="fas fa-toggle-off"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>