<div class="row expanded">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3>Seja bem-vindo!</h3>
        <h6>O nosso site está em construção, mas você já pode navegar e conferir os imóveis disponíveis.</h6>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div id="cardBody" class="card-body">
    <h5 *ngIf="!loading"><i class="fas fa-home mr-2"></i>{{ cardTitle }}</h5>
    <div class="row mt-20" infiniteScroll [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()">
      <div *ngFor="let property of propertyList; let index = index"
        class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div *ngIf="property.active" class="card h-100 card-property">
          <a [routerLink]="['/imoveis', property._id]">
            <img *ngIf="property.images.length > 0" class="card-img-top"
              [src]="preUrlImages + '/' + property.images[0].filePath">
          </a>
          <div class="carousel-square">
            <div class="carousel-square-location"
              *ngFor="let location of property.locations; let last = last; let first = first">
              <a href="javascript:;"
                [routerLink]="['/localizacao', (location.description | normalizeString)]">{{ location.description }}</a>
            </div>
            <div class="carousel-square-category"
              *ngFor="let category of property.categories; let last = last; let first = first">
              <a href="javascript:;"
                [routerLink]="['/categoria', (category.description | normalizeString)]">{{ category.description }}</a>
            </div>
            <div class="carousel-square-type" *ngFor="let type of property.types; let last = last; let first = first">
              <a href="javascript:;"
                [routerLink]="['/modalidade', (type.description | normalizeString)]">{{ type.description }}</a>
            </div>
          </div>
          <div class="card-body pb-0 pt-1">
            <a [routerLink]="['/imoveis', property._id]">
              <p class="card-title">{{ property.title }}</p>
            </a>
            <div class="row">
              <div class="property-indicator-value col-lg-12 col-md-12 col-sm-12">
                <div class="property-indicator">
                  <i class="fas fa-dollar-sign"></i>
                  <p class="mb-0 ml-2">
                    {{ property.priceNumber ? (property.priceNumber | currency:'BRL') : property.priceCustom }}</p>
                </div>
              </div>
              <div class="property-indicator-address col-lg-12 col-md-12 col-sm-12">
                <div class="property-indicator property-indicator-small mt-2">
                  <i class="fas fa-map-marker-alt"></i>
                  <p class="mb-0 ml-2">{{ property.address ? property.address : property.city }}</p>
                </div>
              </div>
            </div>
            <div class="row d-flex">
              <div *ngIf="property.bedrooms > 0" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3 mt-3">
                <span class="property-indicator-text mt-2">Quartos</span>
                <div class="property-indicator property-indicator-small">
                  <i class="fas fa-bed"></i>
                  <p class="mb-0 ml-2">{{ property.bedrooms }}</p>
                </div>
              </div>
              <div *ngIf="property.toilets > 0" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3 mt-3">
                <span class="property-indicator-text mt-2">Banheiros</span>
                <div class="property-indicator property-indicator-small">
                  <i class="fas fa-shower"></i>
                  <p class="mb-0 ml-2">{{ property.toilets }}</p>
                </div>
              </div>
              <div *ngIf="property.garage > 0" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3 mt-3">
                <span class="property-indicator-text mt-2">Garagem</span>
                <div class="property-indicator property-indicator-small">
                  <i class="fas fa-car"></i>
                  <p class="mb-0 ml-2">{{ property.garage }}</p>
                </div>
              </div>
              <div *ngIf="property.size" class="col col-xxxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-3 mt-3">
                <span class="property-indicator-text mt-2">Tamanho</span>
                <div class="property-indicator property-indicator-small">
                  <i class="fas fa-pencil-ruler"></i>
                  <p class="mb-0 ml-2">{{ property.size }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div *ngIf="property.tags.length > 0" class="card-footer">
            <i class="fas fa-tags mr-2 text-primary"></i>
            <ng-container *ngFor="let tag of property.tags; let last = last; let first = first">
              <a href="javascript:;">{{ tag.description }}</a>{{ !last ? ', ' : '' }}
            </ng-container>
          </div> -->
        </div>
      </div>
      <div *ngIf="propertyList?.length == 0 && !loading"
        class="col d-flex justify-content-center align-items-center my-5">
        <h4 class="text-muted">Nenhum imóvel encontrado. Tente procurar por outra categoria.</h4>
      </div>
    </div>
    <app-loading *ngIf="loading"></app-loading>
  </div>
</div>
<div class="d-flex justify-content-center my-3">
  <div class="go-top" (click)="goTop()">
    <h4><i class="fas fa-arrow-up mr-3"></i>Voltar para o topo</h4>
  </div>
</div>