@import '../../../../assets/scss/utils';

.topbar {
    display: flex;
    align-items: center;
    background: palette(terciary, ter9light);
    background: url(../../../../assets/images/bgtop.png) no-repeat right;
    &-right {
        h4 {
            color: palette(white);
            padding: 20px;
            background: palette(main);
            border-radius: 5px;
        }
        h6 { font-style: italic; }
    }
    .logo {
        height: 150px;
    }
}

.nav-item {
    @media screen and (min-width: 991px) {
        margin-right: 15px;
    }
}

.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.dropdown-menu {
    @media screen and (min-width: 991px) {
        width: calc(100% + 80px);
    }
}