<div id="top" class="topbar d-none d-lg-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xl-5 col-xxl-5 col-xxxl-4 d-flex align-items-center my-3">
        <img class="logo" src="../../../../assets/images/logo.png" />
        <div class="topbar-title ml-3">
          <h1 class="text-primary font-terciary mb-0">Cavallini</h1>
          <h6 class="text-primary font-secondary">Corretor de Imóveis</h6>
          <h5 class="text-secondary font-terciary">CRECI 51377</h5>
        </div>
      </div>
      <div class="col-lg-6 col-xl-5 col-xxl-4 col-xxxl-4 d-flex align-items-center justify-content-center">
        <div class="topbar-right text-center">
          <h4>Especializado em Áreas Rurais</h4>
          <h6>Mais de 35 anos de experiência no Setor Rural.</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Top for Mobile -->
<div class="topbar d-sm-block d-md-block d-lg-none">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center justify-content-center my-3" routerLink="/">
        <img class="logo" src="../../../../assets/images/logo.png" />
        <div class="topbar-title ml-3">
          <h1 class="text-primary font-terciary mb-0">Cavallini</h1>
          <h6 class="text-primary font-secondary">Corretor de Imóveis</h6>
          <h5 class="text-secondary font-terciary">CRECI 51377</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand d-sm-block d-md-block d-lg-none font-terciary" data-toggle="collapse" data-target="#navbarTop"
    aria-controls="navbarTop" aria-expanded="false">Menu Principal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop"
    aria-expanded="false" aria-label="Alternar navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTop">
    <ul class="navbar-nav mr-auto" #menu>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/"><i class="fas fa-home mr-2"></i>Página Inicial</a>
      </li>

      <ng-container *ngIf="!loading">
        <!-- Categorias -->
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-tags fa-fw mr-1"></i>
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let category of categoryList"
              [routerLink]="['/categoria', (category.description | normalizeString)]" class="dropdown-item"
              href="javascript:;">{{ category.description }}</a>
          </div>
        </li>

        <!-- Localização -->
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-map-signs fa-fw mr-1"></i>
            Localização
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let location of locationList"
              [routerLink]="['/localizacao', (location.description | normalizeString)]" class="dropdown-item"
              href="javascript:;">{{ location.description }}</a>
          </div>
        </li>

        <!-- Modalidades -->
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sticky-note fa-fw mr-1"></i>
            Modalidades
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let type of typeList" [routerLink]="['/modalidade', (type.description | normalizeString)]"
              class="dropdown-item" href="javascript:;">{{ type.description }}</a>
          </div>
        </li>
      </ng-container>
      <li *ngIf="whatsAppAdvise == false" class="nav-item d-xs-list-item d-sm-list-item d-md-list-item d-lg-none"
        routerLinkActive="active">
        <a class="nav-link" href="https://wa.me/5555999225333" target="_blank"><i
            class="fab fa-whatsapp ml-1 mr-2"></i>Conversar no WhatsApp</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 d-xs-none d-sm-none d-md-none d-lg-flex">
      <div class="input-group">
        <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" type="search" class="form-control"
          placeholder="Digite aqui" aria-label="Buscar">
        <div class="input-group-append">
          <button (click)="search()" class="btn btn-warning btn-block my-2 my-sm-0" type="button">Procurar
            Imóvel</button>
        </div>
      </div>
    </form>
  </div>
</nav>
<div class="whatsapp-call" [class.whatsapp-call-opened]="whatsAppAdvise == true">
  <div class="whatsapp-call-area" (click)="openWhatsApp()">
    <i class="fab fa-whatsapp mr-2"></i>
    <p>Conversar no WhatsApp</p>
  </div>
  <div class="whatsapp-call-close justify-content-flex-end">
    <i class="far fa-times-circle" (click)="whatsAppAdvise = false"></i>
  </div>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="input-group d-lg-none mb-4">
        <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" type="search" class="form-control"
          placeholder="Digite aqui" aria-label="Buscar">
        <div class="input-group-append">
          <button (click)="search()" class="btn btn-warning btn-block my-sm-0" type="button">Procurar
            Imóvel</button>
        </div>
      </div>
    </div>
  </div>
</div>
