<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Empresa no ramo de vendas imobiliárias da região sul do Brasil. Terras para criação e plantio, terrenos, imóveis, apartamentos...">
  <meta name="author" content="Matheus Cavallini">

  <title>Cavallini - Corretor de Imóveis</title>

</head>

<body>

  <div class="container">
    <div class="row expanded">
      <div class="col">
          <h1>Estamos em construção</h1>
          <h4>enquanto isso, você já pode dar uma olhada na nossa listagem de imóveis abaixo.</h4>
      </div>
    </div>
    <div class="row expanded">
      <div class="col mg-top20">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</body>

</html>
