<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Empresa no ramo de vendas imobiliárias da região sul do Brasil. Terras para criação e plantio, terrenos, imóveis, apartamentos...">
  <meta name="author" content="Matheus Cavallini">

  <title>Cavallini - Corretor de Imóveis</title>

</head>

<body>
  <router-outlet></router-outlet>
</body>

</html>
