<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/images/logo.png" id="icon" alt="Logo" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="email" id="login" class="fadeIn second" name="login" placeholder="E-mail">
      <div class="form-group position-relative fadeIn third">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password" name="login" placeholder="Senha">
          <div class="show-password">
            <i *ngIf="showPassword" (click)="showPassword = !showPassword" class="fas fa-eye"></i>
            <i *ngIf="!showPassword" (click)="showPassword = !showPassword" class="fas fa-eye-slash"></i>
          </div>
      </div>
      <input type="submit" class="fadeIn fourth" value="Login" [disabled]="loginForm.invalid" (keyup.enter)="onSubmit()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu a senha?</a>
    </div>

  </div>
</div>
