@import '../../../assets/scss/utils';

$offset: 187;
$duration: 1.4s;

.loading {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    &-fullscreen {
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        background: rgba(1, 1, 1, 0.5);
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
        }
    }
}

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: palette(main); }
	25% { stroke: palette(terciary, ter2); }
	50% { stroke: palette(terciary, ter1); }
	75% { stroke: palette(secondary); }
  100% { stroke: palette(terciary, ter3); }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}