@import '../../../assets/scss/utils';

.files-table {
    margin-top: 20px;
}

.progress {
    margin-top: 15px;
}

.drop-zone {
  border: dotted 3px palette(gray, light3);
  padding: 50px;
  text-align: center;
  display: block;
}

.nv-file-over {
  border: dotted 3px palette(terciary, error);
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px palette(main);
}
