<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green fixed-top" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Cavallini Imóveis</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home</a>
          </li>
          <li class="nav-item dropdown" mdbDropdown>
            <a class="nav-link dropdown-toggle" mdbDropdownToggle mdbWavesEffect
              aria-expanded="false">Por Localização</a>
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Rural</a>
              <a class="dropdown-item" href="#">Urbano</a>
            </div>
          </li>
          <li class="nav-item dropdown" mdbDropdown>
            <a class="nav-link dropdown-toggle" mdbDropdownToggle mdbWavesEffect
              aria-expanded="false">Por Modalidade</a>
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Venda</a>
              <a class="dropdown-item" href="#">Arrendamento</a>
            </div>
          </li>
          <li class="nav-item dropdown" mdbDropdown>
            <a class="nav-link dropdown-toggle" mdbDropdownToggle mdbWavesEffect
              aria-expanded="false">Por Tipo</a>
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Fazenda</a>
              <a class="dropdown-item" href="#">Casa</a>
            </div>
          </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Busca">
        </div>
      </form>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->