<app-top-sidebar></app-top-sidebar>
<div class="container-fluid">
  <div class="row expanded">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3>Estamos em construção</h3>
          <h6 class="text-primary">Você pode entrar em contato conosco através do telefone (55) 3352-3352 ou se preferir
            no WhatsApp (55) 9 9922-5333.</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row expanded">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
