<div class="row">
  <div *ngFor="let property of propertyList" class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" [src]="property.images[0].url" [alt]="property.images[0].description"></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{ property.title }}</a>
        </h4>
        <h5>{{ property.priceNumber ? (property.priceNumber | currency:'BRL') : property.priceCustom }}</h5>
        <p class="card-text">{{ property.description }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
</div>
