<form *ngIf="!loading" [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <div class="card-body">
          <app-loading *ngIf="loading"></app-loading>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="titleText">Título *</label>
                <input formControlName="title" name="title" type="text" class="form-control" id="titleText"
                  placeholder="Ex: Fazenda completa com 400ha"
                  [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Este campo é obrigatório</div>
                </div>
              </div>
              <div class="form-group">
                <label for="descriptionText">Descrição *</label>
                <app-ngx-editor formControlName="description" name="description" class="ngx-editor-app"
                  [placeholder]="'Escreva uma breve descrição do imóvel que pretende anunciar...'" [height]="'300px'"
                  [spellcheck]="true" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></app-ngx-editor>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Este campo é obrigatório</div>
                </div>
              </div>
              <div class="form-group">
                <label for="addressText">Endereço</label>
                <input formControlName="address" name="address" type="text" class="form-control" id="addressText"
                  placeholder="Ex: Rua Silva Jardim, 100">
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="cityText">Cidade *</label>
                  <input formControlName="city" name="city" type="text" class="form-control" id="cityText"
                    placeholder="Ex: São Luiz Gonzaga" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                  <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">Este campo é obrigatório</div>
                  </div>
                </div>
                <div class="form-group col-6">
                  <label for="geolocationText">Geolocalização</label>
                  <input formControlName="geolocation" name="geolocation" type="text" class="form-control" id="geolocationText"
                    placeholder="Ex: -28.409122, -54.961752">
                </div>
              </div>
              <div class="form-group">
                <label for="imagesText">Imagens</label>
                <app-upload-files 
                  [type]="'image'"
                  (uploadData)="uploaderData($event)"
                  (uploadResData)="addImage($event)"
                  [callUpload]="uploadImages"
                  [callRetry]="retryUpload"
                  [parentId]="propertySavedId">
                </app-upload-files>
                <ng-container *ngIf="isChange">
                  <h4 class="mt-4">Arquivos Existentes</h4>
                  <p>Quantidade: {{ propertyChangeData?.images?.length }}</p>
                  <div class="files-box">
                      <div class="files-box-item" *ngFor="let image of propertyChangeData?.images" [style.background]="getBackgroundImage(image?.filePath)">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(image)">
                          <i class="fas fa-trash"></i>
                        </button>
                        <div class="files-box-overlay" (click)="openImage(image?.filePath)">
                            <i class="fas fa-eye"></i>
                        </div>
                        <img [src]="url + '/' + image?.filePath" />
                      </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <div class="card-body">
          <app-loading *ngIf="loading"></app-loading>
          <div *ngIf="!loading" class="row">
            <div class="col-12">
              <div class="form-check form-check-inline mb-3">
                <app-switch [value]="property.data.active"
                  (clicked)="property.data.active = !property.data.active; f.active.setValue(this.property.data.active)"
                  id="activeCheckbox"></app-switch>
                <label class="form-check-label" for="activeCheckbox">Publicada <small class="text-muted">(Ao ativar este
                    campo, a propriedade
                    irá aparecer no site)</small></label>
              </div>
              <div class="form-group">
                <label for="categoryMultiselect">Categoria *</label>
                <ng-select formControlName="categories" [items]="categoryList" [addTag]="addCategory"
                  [loading]="loadingCategory" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
                  bindLabel="description" placeholder="Selecione uma ou mais categorias" name="categories"
                  class="ng-select-custom form-control" [ngClass]="{ 'is-invalid': submitted && f.categories.errors }">
                  <ng-template ng-tag-tmp let-search="searchTerm">
                    <b>Adicionar</b>: {{ search }}
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted && f.categories.errors" class="invalid-feedback">
                  <div *ngIf="f.categories.errors.required">Este campo é obrigatório</div>
                </div>
              </div>
              <div class="form-group">
                <label for="locationMultiselect">Localização *</label>
                <ng-select formControlName="locations" [items]="locationList" [addTag]="addLocation"
                  [loading]="loadingLocation" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
                  bindLabel="description" placeholder="Selecione uma ou mais localizações" name="locations"
                  class="ng-select-custom form-control" [ngClass]="{ 'is-invalid': submitted && f.locations.errors }">
                  <ng-template ng-tag-tmp let-search="searchTerm">
                    <b>Adicionar</b>: {{ search }}
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted && f.locations.errors" class="invalid-feedback">
                  <div *ngIf="f.locations.errors.required">Este campo é obrigatório</div>
                </div>
              </div>
              <div class="form-group">
                <label for="typeMultiselect">Modalidade *</label>
                <ng-select formControlName="types" [items]="typeList" [addTag]="addType" [loading]="loadingType"
                  [multiple]="true" [closeOnSelect]="false" [searchable]="true" bindLabel="description"
                  placeholder="Selecione uma ou mais modalidades" name="types" class="ng-select-custom form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.types.errors }">
                  <ng-template ng-tag-tmp let-search="searchTerm">
                    <b>Adicionar</b>: {{ search }}
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted && f.types.errors" class="invalid-feedback">
                  <div *ngIf="f.types.errors.required">Este campo é obrigatório</div>
                </div>
              </div>
              <div class="form-group">
                <label for="tagMultiselect">Tags *</label>
                <ng-select formControlName="tags" [items]="tagList" [addTag]="addTag" [loading]="loadingTag"
                  [multiple]="true" [closeOnSelect]="false" [searchable]="true" bindLabel="description"
                  placeholder="Selecione uma ou mais tags" name="tags" class="ng-select-custom form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.tags.errors }">
                  <ng-template ng-tag-tmp let-search="searchTerm">
                    <b>Adicionar</b>: {{ search }}
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted && f.types.errors" class="invalid-feedback">
                  <div *ngIf="f.types.errors.required">Este campo é obrigatório</div>
                </div>
              </div>
              <div class="form-group">
                <label for="priceNumber">Preço numérico</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input (ngModelChange)="priceRadioChanged()" formControlName="priceRadio" type="radio"
                        name="priceRadio" id="priceNumerical" value="1" aria-label="Preço numérico">
                    </div>
                  </div>
                  <input currencyMask formControlName="priceNumber" type="text" class="form-control"
                    id="priceNumberText" placeholder="Ex: R$300.000,00"
                    [ngClass]="{ 'is-invalid': submitted && f.priceNumber.errors }">
                </div>
                <div *ngIf="submitted && f.priceNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.priceNumber.errors.required">Este campo é obrigatório</div>
                </div>
              </div>
              <div class="form-group">
                <label for="priceCustom">Preço customizado</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input (ngModelChange)="priceRadioChanged()" formControlName="priceRadio" type="radio"
                        name="priceRadio" id="priceCustom" value="2" aria-label="Preço customizado">
                    </div>
                  </div>
                  <input formControlName="priceCustom" type="text" class="form-control" id="priceCustomText"
                    placeholder="Ex: 300 sacas de soja/ha"
                    [ngClass]="{ 'is-invalid': submitted && f.priceCustom.errors }">
                </div>
                <div *ngIf="submitted && f.priceCustom.errors" class="invalid-feedback">
                  <div *ngIf="f.priceCustom.errors.required">Este campo é obrigatório</div>
                </div>
              </div>
              <button *ngIf="!isChange" class="btn btn-primary" type="submit">Publicar Propriedade</button>
              <button *ngIf="isChange" class="btn btn-primary" type="submit">Editar Propriedade</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
