@import 'assets/scss/utils';
@import 'assets/scss/admin';
@import "~@ng-select/ng-select/themes/default.theme.css";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700');

////////////////
// Base Classes
///////////////

html,
body {
  height: 100%;
  min-height: 100%;
}

html body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: palette(gray);
    font-family: $font-main;
    font-weight: 400 !important;
  }

  font-size: 13px;
  font-family: 'Roboto',
  sans-serif;

  a {
    outline: none;
  }

  dl {
    margin: 0 0 0 0;

    dt,
    dd {
      color: palette(gray, light1);
      font: 13px/23px $font-main;
    }

    dt {
      font-weight: 700;

      a {
        color: inherit;
      }
    }

    dd {
      font-weight: 400;
      margin: 0 -0.9375rem;
      padding: 5px 20px 5px 0.9375rem;
    }

    &.hoverable dd:hover {
      background: palette(gray, light3);
    }

    &.selectable {

      dt,
      dd {
        cursor: pointer;
      }
    }
  }

  // table
  table {
    @media screen and (min-width:771px) {

      thead tr .center,
      tbody tr .center {
        text-align: center;
      }

      thead tr .right,
      tbody tr .right {
        text-align: right;
      }
    }

    &.stripped tbody tr:nth-child(even) {
      background: palette(gray, light3);
    }
  }

  p {
    font: 400 13px/1.5 $font-main;
  }

  ul {
    li {
      color: palette(gray);
      font: 400 13px/1.5 $font-main;
      list-style: none;
    }
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 13px;
  color: #999 !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999 !important;
  font-size: 13px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999 !important;
  font-size: 13px;
}

.card {
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

////////////////
// Grid Classes
///////////////
@for $i from 0 to 100 {
  .mt-#{$i} {
    margin-top:#{$i}px;
  }

  .mr-#{$i} {
    margin-right:#{$i}px;
  }

  .mb-#{$i} {
    margin-bottom:#{$i}px;
  }

  .ml-#{$i} {
    margin-left:#{$i}px;
  }

  .m-#{$i} {
    margin:#{$i}px;
  }

  .pt-#{$i} {
    padding-top:#{$i}px;
  }

  .pr-#{$i} {
    padding-right:#{$i}px;
  }

  .pb-#{$i} {
    padding-bottom:#{$i}px;
  }

  .pl-#{$i} {
    padding-left:#{$i}px;
  }

  .p-#{$i} {
    padding:#{$i}px;
  }

  @media screen and (max-width:990px) {
    .m-mbl-t-#{$i} {
      margin-top:#{$i}px;
    }

    .m-mbl-r-#{$i} {
      margin-right:#{$i}px;
    }

    .m-mbl-b-#{$i} {
      margin-bottom:#{$i}px;
    }

    .m-mbl-l-#{$i} {
      margin-left:#{$i}px;
    }

    .m-mbl-#{$i} {
      margin:#{$i}px;
    }

    .p-mbl-t-#{$i} {
      padding-top:#{$i}px;
    }

    .p-mbl-r-#{$i} {
      padding-right:#{$i}px;
    }

    .p-mbl-b-#{$i} {
      padding-bottom:#{$i}px;
    }

    .p-mbl-l-#{$i} {
      padding-left:#{$i}px;
    }

    .p-mbl-#{$i} {
      padding:#{$i}px;
    }
  }

  @media print {
    .m-pr-t-#{$i} {
      margin-top:#{$i}px;
    }

    .m-pr-r-#{$i} {
      margin-right:#{$i}px;
    }

    .m-pr-b-#{$i} {
      margin-bottom:#{$i}px;
    }

    .m-pr-l-#{$i} {
      margin-left:#{$i}px;
    }

    .m-pr-#{$i} {
      margin:#{$i}px;
    }

    .p-pr-t-#{$i} {
      padding-top:#{$i}px;
    }

    .p-pr-r-#{$i} {
      padding-right:#{$i}px;
    }

    .p-pr-b-#{$i} {
      padding-bottom:#{$i}px;
    }

    .p-pr-l-#{$i} {
      padding-left:#{$i}px;
    }

    .p-pr-#{$i} {
      padding:#{$i}px;
    }
  }
}
