<div class="row" id="body-row">
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <ul class="list-group">

      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small class="text-primary">MENU PRINCIPAL</small>
      </li>

      <!-- Painel -->
      <a appSidebarAdminMenuActive href="javascript:;" routerLink="/area-logada"
        class="main-item main-item-single list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fas fa-table fa-fw mr-3"></span>
          <span class="menu-collapsed">Painel</span>
        </div>
      </a>

      <!-- Imóveis -->
      <a appSidebarAdminMenuActive href="#submenu1" data-toggle="collapse" aria-expanded="false"
        class="main-item list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-home fa-fw mr-3"></span>
          <span class="menu-collapsed">Imóveis</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <div id='submenu1' class="collapse sidebar-submenu" data-parent="#sidebar-container">
        <a appSidebarAdminMenuActive href="javascript:;" routerLink="/area-logada/imoveis/cadastrar"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Cadastrar</span>
        </a>
        <a appSidebarAdminMenuActive href="javascript:;" routerLink="/area-logada/imoveis"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Listagem</span>
        </a>
      </div>

      <!-- Categorias -->
      <a appSidebarAdminMenuActive href="#submenu2" data-toggle="collapse" aria-expanded="false"
        class="main-item list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-tags fa-fw mr-3"></span>
          <span class="menu-collapsed">Categorias</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <div id='submenu2' class="collapse sidebar-submenu" data-parent="#sidebar-container">
        <a appSidebarAdminMenuActive href="javascript:;" routerLink="/area-logada/categorias/cadastrar"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Cadastrar</span>
        </a>
        <a appSidebarAdminMenuActive href="javascript:;" routerLink="/area-logada/categorias"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Listagem</span>
        </a>
      </div>

      <!-- Localizações -->
      <a appSidebarAdminMenuActive href="#submenu3" data-toggle="collapse" aria-expanded="false"
        class="main-item list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-map-signs fa-fw mr-3"></span>
          <span class="menu-collapsed">Localizações</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <div id='submenu3' class="collapse sidebar-submenu" data-parent="#sidebar-container">
        <a appSidebarAdminMenuActive href="javascript:;" routerLink="/area-logada/localizacoes/cadastrar"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Cadastrar</span>
        </a>
        <a appSidebarAdminMenuActive href="javascript:;" routerLink="/area-logada/localizacoes"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Listagem</span>
        </a>
      </div>

      <!-- Modalidades -->
      <a appSidebarAdminMenuActive href="#submenu4" data-toggle="collapse" aria-expanded="false"
        class="main-item list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-sticky-note fa-fw mr-3"></span>
          <span class="menu-collapsed">Modalidades</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <div id='submenu4' class="collapse sidebar-submenu" data-parent="#sidebar-container">
        <a appSidebarAdminMenuActive href="javascript:;" routerLink="/area-logada/modalidades/cadastrar"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Cadastrar</span>
        </a>
        <a appSidebarAdminMenuActive href="javascript:;" routerLink="/area-logada/modalidades"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Listagem</span>
        </a>
      </div>

      <!-- Usuários -->
      <a appSidebarAdminMenuActive href="#submenu5" data-toggle="collapse" aria-expanded="false"
        class="main-item list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-users fa-fw mr-3"></span>
          <span class="menu-collapsed">Usuários</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <div id='submenu5' class="collapse sidebar-submenu" data-parent="#sidebar-container">
        <a appSidebarAdminMenuActive href="javascript:;"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Cadastrar</span>
        </a>
        <a appSidebarAdminMenuActive href="javascript:;"
          class="sub-item list-group-item list-group-item-action text-white">
          <span class="menu-collapsed">Listagem</span>
        </a>
      </div>

      <!-- Sair -->
      <a appSidebarAdminMenuActive href="javascript:;" routerLink="/sair"
        class="main-item main-item-single list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fas fa-sign-out-alt fa-fw mr-3"></span>
          <span class="menu-collapsed">Sair</span>
        </div>
      </a>

      <!-- <a appSidebarAdminMenuActive href="javascript:;" data-toggle="sidebar-colapse" adminMenuDropdown
        class="list-group-item list-group-item-action d-flex align-items-center">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span id="collapse-icon" class="fa fa-chevron-left fa-fw mr-3"></span>
          <span id="collapse-text" class="menu-collapsed">Fechar Menu</span>
        </div>
      </a> -->

      <!-- EXAMPLES -->
      <!-- <a appSidebarAdminMenuActive href="javascript:;" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-envelope-o fa-fw mr-3"></span>
          <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
        </div>
      </a> -->
      <!-- Separator without title -->
      <!-- <li class="list-group-item sidebar-separator menu-collapsed"></li> -->

      <!-- Logo -->
      <li class="text-light list-group-item logo-separator d-flex justify-content-center align-items-center">
        <img src="../../../../assets/images/logo.png" alt="Logotipo" height="30" width="30" class="mr-2">
        Copyright @ 2019 - {{ GLOBALS.SYSTEM_TITLE }}
      </li>
    </ul>
  </div>
</div>
