<div class="row">
  <div class="col">
    <h4 class="mb-4">
      Painel
      <small class="text-muted">Página Inicial</small>
    </h4>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="card admin-item bg-primary text-light" routerLink="/area-logada/imoveis">
          <div class="card-body card-body d-flex align-items-center justify-content-around">
            <app-loading *ngIf="loadingProperties" class="loading-no-margin"></app-loading>
            <ng-container *ngIf="!loadingProperties">
              <i class="fas fa-home fa-4x"></i>
              <span class="counter">{{ propertyCount }}</span>
              <span class="counter-text text-light">{{ propertyCount > 1 ? 'Imóveis' : 'Imóvel' }}</span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <div class="card admin-item bg-secondary text-light">
          <div class="card-body card-body d-flex align-items-center justify-content-around">
            <i class="fas fa-users fa-4x"></i>
            <span class="counter">1</span>
            <span class="counter-text text-light">Usuários</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <div class="card admin-item bg-info text-light">
          <div class="card-body card-body d-flex align-items-center justify-content-around">
            <i class="fas fa-inbox fa-4x"></i>
            <span class="counter">0</span>
            <span class="counter-text text-light">Mensagens</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <div class="card admin-item bg-warning text-light">
          <div class="card-body card-body d-flex align-items-center justify-content-around">
            <i class="fas fa-handshake fa-4x"></i>
            <span class="counter">0</span>
            <span class="counter-text text-light">Interesses</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
